version: '3.9'
services:
  react-app:
    build: .
    env_file: .env
    ports:
      - 3000:80
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - REACT_APP_AWS_ACCESS_KEY_ID_ENV=${REACT_APP_AWS_ACCESS_KEY_ID_ENV}
      - REACT_APP_AWS_SECRET_ACCESS_KEY_ENV=${REACT_APP_AWS_SECRET_ACCESS_KEY_ENV}
      - REACT_APP_AWS_REGION_ENV=${REACT_APP_AWS_REGION_ENV}
      - REACT_APP_EMAIL_SENDER_ENV=${REACT_APP_EMAIL_SENDER_ENV}
      - REACT_APP_MAPBOX_TOKEN=${REACT_APP_MAPBOX_TOKEN}

     

