version: '3.9'
services:
  test-app:
    env_file: .env
    build: 
      context: ./
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - /app/.github/workflows
      - /app/node_modules
      - .:/app
    environment:
      - REACT_APP_AWS_ACCESS_KEY_ID_ENV=${REACT_APP_AWS_ACCESS_KEY_ID_ENV}
      - REACT_APP_AWS_SECRET_ACCESS_KEY_ENV=${REACT_APP_AWS_SECRET_ACCESS_KEY_ENV}
      - REACT_APP_AWS_REGION_ENV=${REACT_APP_AWS_REGION_ENV}
      - REACT_APP_EMAIL_SENDER_ENV=${REACT_APP_EMAIL_SENDER_ENV}
      - REACT_APP_MAPBOX_TOKEN=${REACT_APP_MAPBOX_TOKEN}

