version: '3.9'
services:
  test-app:
    build: 
      context: ./
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - /app/.github/workflows
      - /app/node_modules
      - .:/app
