name: Deploy main
on:
  workflow_dispatch:
  push:
    branches:
    - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      REACT_APP_AWS_ACCESS_KEY_ID_ENV: ${{ secrets.AWS_ACCESS_KEY_ID }}
      REACT_APP_AWS_SECRET_ACCESS_KEY_ENV: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      REACT_APP_AWS_REGION_ENV: ${{ vars.REACT_APP_AWS_REGION_ENV }}
      REACT_APP_EMAIL_SENDER_ENV: ${{ vars.REACT_APP_EMAIL_SENDER_ENV }}
      REACT_APP_EMAIL_RECIPIENT_ENV: ${{ vars.REACT_APP_EMAIL_RECIPIENT_ENV }}
      REACT_APP_MAPBOX_TOKEN: ${{ secrets.REACT_APP_MAPBOX_TOKEN }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.REACT_APP_AWS_REGION_ENV }}
      
      - name: Create SSH file
        run: |
          touch ec2-strapi-key-pair.pem
          echo "${{ secrets.SSH_KEY }}" > ec2-strapi-key-pair.pem
          chmod 400 ec2-strapi-key-pair.pem
          cat ec2-strapi-key-pair.pem

      - name: Create .env environment file
        run: |
          touch .env
          echo "REACT_APP_AWS_ACCESS_KEY_ID_ENV=${{ env.REACT_APP_AWS_ACCESS_KEY_ID_ENV }}" >> .env
          echo "REACT_APP_AWS_SECRET_ACCESS_KEY_ENV=${{ env.REACT_APP_AWS_SECRET_ACCESS_KEY_ENV }}" >> .env
          echo "REACT_APP_AWS_REGION_ENV=${{ env.REACT_APP_AWS_REGION_ENV }}" >> .env
          echo "REACT_APP_EMAIL_SENDER_ENV=${{ env.REACT_APP_EMAIL_SENDER_ENV }}" >> .env
          echo "REACT_APP_EMAIL_RECIPIENT_ENV=${{ env.REACT_APP_EMAIL_RECIPIENT_ENV }}" >> .env
          echo "REACT_APP_MAPBOX_TOKEN=${{ env.REACT_APP_MAPBOX_TOKEN }}" >> .env
      
      - name: Save private key on github actions server
        uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: |
            ${{ secrets.SSH_KEY }}
            ${{ secrets.USERNAME_GITHUB }}
            {{ secrets.SSH_GITHUB }}
      
      # - name: install docker and docker-compose on EC2
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ vars.EC2_HOST_INSTANCE }}
      #     username: ${{ vars.EC2_USERNAME_INSTANCE }}
      #     key: ${{ secrets.SSH_KEY }}
      #     port: 22
      #     script: |
      #       sudo apt-get update
      #       sudo apt-get install apt-transport-https ca-certificates curl software-properties-common -y
      #       curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
      #       sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
      #       sudo apt-get update
      #       sudo apt-get install docker-ce -y
      #       sudo docker version
      #       sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
      #       sudo chmod +x /usr/local/bin/docker-compose
      #       sudo docker-compose version



      - name: Clone VVS project on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST_INSTANCE }}
          username: ${{ vars.EC2_USERNAME_INSTANCE }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            sudo rm -rf ~/VSV
            sudo git clone https://${{ secrets.SSH_GITHUB }}@github.com/${{ secrets.USERNAME_GITHUB }}/VSV.git 
            ls -all

      - name: Install nodejs and reactjs on ec2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST_INSTANCE }}
          username: ${{ vars.EC2_USERNAME_INSTANCE }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            sudo apt-get update
            sudo apt-get install -y nodejs npm
            node -v
            npm -v

      - name: SSH onto EC2 and run npm install
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST_INSTANCE }}
          username: ${{ vars.EC2_USERNAME_INSTANCE }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd ~/VSV
            sudo npm install

      - name: SSH to EC2 instance and create .env
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST_INSTANCE }}
          username: ${{ vars.EC2_USERNAME_INSTANCE }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd ~/VSV
            sudo rm ~/VSV/.en
            sudo touch ~/VSV/.env
            sudo chown ubuntu:ubuntu ~/VSV/.env
            sudo echo "REACT_APP_AWS_ACCESS_KEY_ID_ENV=${{ env.REACT_APP_AWS_ACCESS_KEY_ID_ENV }}" >> .env
            sudo echo "REACT_APP_AWS_SECRET_ACCESS_KEY_ENV=${{ env.REACT_APP_AWS_SECRET_ACCESS_KEY_ENV }}" >> .env
            sudo echo "REACT_APP_AWS_REGION_ENV=${{ env.REACT_APP_AWS_REGION_ENV }}" >> .env
            sudo echo "REACT_APP_EMAIL_SENDER_ENV=${{ env.REACT_APP_EMAIL_SENDER_ENV }}" >> .env
            sudo echo "REACT_APP_EMAIL_RECIPIENT_ENV=${{ env.REACT_APP_EMAIL_RECIPIENT_ENV }}" >> .env
            sudo echo "REACT_APP_MAPBOX_TOKEN=${{ env.REACT_APP_MAPBOX_TOKEN }}" >> .env
            ls -al
            
      - name: SSH EC2 and install pm2,node and serve latest
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST_INSTANCE }}
          username: ${{ vars.EC2_USERNAME_INSTANCE }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd ~/VSV
            sudo npm i -g npm@latest
            sudo npm install pm2@latest -g
            pm2 update
            sudo npm install -g n
            sudo node -v
            sudo npm install -g serve


      - name: SSH EC2 and build app and run for production
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST_INSTANCE }}
          username: ${{ vars.EC2_USERNAME_INSTANCE }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd ~/VSV
            sudo npm run build
            sudo pm2 start npm -- run production
            sudo pm2 list
                    
          
        
