name: Deploy main
on:
  workflow_dispatch:
  push:
    branches:
    - main

environment:
    name: github-pages
    url: ${{ vars.PAGE_URL }}
jobs:
  deploy:
    needs: build
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1