name: Deploy main
on:
  workflow_dispatch:
  push:
    branches:
    - main
jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Run Lint Test
  #       run: npm run lint
  #     - name: Run test
  #       run: npm run test
  deploy:
    # needs: test
    runs-on: ubuntu-latest
    env:
      REACT_APP_AWS_ACCESS_KEY_ID_ENV: ${{secrets.AWS_ACCESS_KEY_ID}}
      REACT_APP_AWS_SECRET_ACCESS_KEY_ENV: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      REACT_APP_AWS_REGION_ENV: ${{secrets.REACT_APP_AWS_REGION_ENV}}
      REACT_APP_EMAIL_SENDER_ENV: ${{env.REACT_APP_EMAIL_SENDER_ENV}}
      REACT_APP_MAPBOX_TOKEN: ${{secrets.REACT_APP_MAPBOX_TOKEN}}
    steps:
    - name: Checkout source code
      uses: actions/checkout@v2
    - name: Deploy to ec2
      uses: bitovi/github-actions-deploy-docker-to-ec2@v0.5.0
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_default_region: af-south-1
        dot_env: ${{ secrets.DOT_ENV }}