name: Deploy main
on:
  workflow_dispatch:
  push:
    branches:
    - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      REACT_APP_AWS_ACCESS_KEY_ID_ENV: ${{ secrets.AWS_ACCESS_KEY_ID }}
      REACT_APP_AWS_SECRET_ACCESS_KEY_ENV: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      REACT_APP_AWS_REGION_ENV: ${{ vars.REACT_APP_AWS_REGION_ENV }}
      REACT_APP_EMAIL_SENDER_ENV: ${{ vars.REACT_APP_EMAIL_SENDER_ENV }}
      REACT_APP_EMAIL_RECIPIENT_ENV: ${{ vars.REACT_APP_EMAIL_RECIPIENT_ENV }}
      REACT_APP_MAPBOX_TOKEN: ${{ secrets.REACT_APP_MAPBOX_TOKEN }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.REACT_APP_AWS_REGION_ENV }}
      
      - name: Create SSH file
        run: |
          touch ec2-strapi-key-pair.pem
          echo "${{ secrets.SSH_KEY }}" > ec2-strapi-key-pair.pem
          chmod 400 ec2-strapi-key-pair.pem
          cat ec2-strapi-key-pair.pem

      - name: Create .env environment file
        run: |
          touch .env
          echo "REACT_APP_AWS_ACCESS_KEY_ID_ENV=${{ env.REACT_APP_AWS_ACCESS_KEY_ID_ENV }}" >> .env
          echo "REACT_APP_AWS_SECRET_ACCESS_KEY_ENV=${{ env.REACT_APP_AWS_SECRET_ACCESS_KEY_ENV }}" >> .env
          echo "REACT_APP_AWS_REGION_ENV=${{ env.REACT_APP_AWS_REGION_ENV }}" >> .env
          echo "REACT_APP_EMAIL_SENDER_ENV=${{ env.REACT_APP_EMAIL_SENDER_ENV }}" >> .env
          echo "REACT_APP_EMAIL_RECIPIENT_ENV=${{ env.REACT_APP_EMAIL_RECIPIENT_ENV }}" >> .env
          echo "REACT_APP_MAPBOX_TOKEN=${{ env.REACT_APP_MAPBOX_TOKEN }}" >> .env
      
      - name: Save private key on github actions server
        uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: |
            ${{ secrets.SSH_KEY }}
            ${{ secrets.USERNAME_GITHUB }}
            {{ secrets.SSH_GITHUB }}
      

      - name: run npm install on github
        run: |
          sudo rm -rf node_modules
          sudo npm install

      - name: Build app on github
        run: sudo npm run build

      - name: Archive build folder
        run: |
          ssh-keygen -R ${{ vars.EC2_HOST_INSTANCE }}
          # ssh-keyscan -t ./ec2-strapi-key-pair.pem ${{ vars.EC2_HOST_INSTANCE }} >> ~/.ssh/known_hosts
          ssh-keyscan -H ${{ vars.EC2_HOST_INSTANCE }} >> ~/.ssh/known_hosts
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
          zip -r build.zip build/

      - name: Copy build to runner
        uses: appleboy/scp-action@master
        with:
          host: ${{ vars.EC2_HOST_INSTANCE }}
          username: ${{ vars.EC2_USERNAME_INSTANCE }}
          key_path: ~/ec2-strapi-key-pair.pem
          key: ${{ secrets.SSH_KEY }}
          source: ./build.zip
          target: ~/

      - name: Extract build folder
        run: sudo unzip -o build.zip 
      
  
      - name: Copy build folder to EC2
        run: |
          # sudo chown -R  ${{ vars.EC2_USERNAME_INSTANCE }} ./build
          sudo scp -r -i ~/ec2-strapi-key-pair.pem ./build ${{ vars.EC2_USERNAME_INSTANCE }}@${{ vars.EC2_HOST_INSTANCE }}:/
       
      - name: SSH EC2 and install pm2 and serve latest
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST_INSTANCE }}
          username: ${{ vars.EC2_USERNAME_INSTANCE }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            sudo npm install pm2@latest -g
            pm2 update
            node -v
            sudo npm install -g serve

      - name: SSH EC2 and start app  
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST_INSTANCE }}
          username: ${{ vars.EC2_USERNAME_INSTANCE }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            pm2 delete all
            pm2 start serve -- -s build
            pm2 save
            pm2 list
                    
          
        
