name: My GitHub Action

on: [push]

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ secrets.ONG_URL }}
    runs-on: ubuntu-latest
    steps:
    - id: build-publish
      uses: bitovi/github-actions-react-to-ghp@v1.2.0
      with:
        path: build # change to your build folder